<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <ul>
  <button><a [routerLink]="['/']">Home</a></button>
  <button><a [routerLink]="['/login']">Login</a></button>
  <button><a [routerLink]="['/signup']">Signup</a></button>
  <button><a [routerLink]="['/userprofile']">User Profile</a></button>
  <button><a [routerLink]="['/listbt']">Bartenders</a></button>
  <button><a [routerLink]="['/mybtprofile']">My bartender profile</a></button>
  </ul>

  <button><a [routerLink]="['/listbt']">Ver más Bartenders!</a></button>
  <router-outlet></router-outlet>
</div>
