<!-- <form >
  <h2> Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>

  <button (click)="signup()"> signup </button>
</form>
<h4>Ya estás registrado?<button [routerLink]="['/login']">Login</button></h4> -->



<form>
  <h3 class= "tittlelogin"> Signup </h3>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" [(ngModel)]="formInfo.username" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" [(ngModel)]="formInfo.password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
  </div>
  <button (click)="signup()"type="submit" class="btn btn-primary">Sign Up</button>
</form>

<h6 class="yaestasregistrado">Ya estás registrado?<button href="#" class="badge badge-primary"[routerLink]="['/login']">Login</button></h6>
