li{
  list-style: none;
}
ul{
  margin-bottom: 30px;
}
.imageUser{
  height: 80px;
}

.card {
    display: inline-table;
    margin-top: 3%;
}

.imageUser[_ngcontent-c1] {
    height: 300px;
    margin-top: 9%;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 7%;
    font-size: 200%;
}

.btn {
    margin-top: 3%;
}

li{
  font-size: 100%;
}
