<div *ngIf="!user">
  <h2>NO USER LOGGED IN</h2>
</div>

<img class = "imageUser"src="{{user.img}}">
<div *ngIf="user">
  <h2> You are now logged in as {{ user.username }}!! </h2>
  <!-- <li>{{ i }} - {{ user.username }}</li> -->
  <!-- <li>{{ i }} - {{ user.email }}</li> -->

  <ul *ngFor="let result of myrecipes">
      <li>{{ result.name }}</li>
      <li>{{ result.glass }}</li>
      <li>{{ result.method }}</li>
      <li>{{ result.ice }}</li>
      <li>{{ result.ingredients }}</li>
      <li>{{ result.garnish }}</li>
  </ul>

  <!-- <p> Here's the user object </p>
  <pre> {{ user | json }} </pre> -->

  <button (click)="auth.logout().subscribe()"> logout </button>
  <button><a [routerLink]="['/editprofile']">Edit my profile</a></button>
  <button><a [routerLink]="['/recipesform']">Add new recipe!</a></button>
</div>
